@import "variables";

#chessTable {
    border-spacing: 0;
    border: 1px solid $dark;
    width: $board-size;
    height: $board-size;
    
    .chess-black {
        background-color: $dark;
    }
    .chess-square {
        width: $square-size;
        height: $square-size;
        text-align: center;
        font-size: 4em;
        &.active {
            background-color: $active;
        }
    }
       
    .chess-piece {
        font-family: 'Arial Unicode MS','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        cursor: pointer;
    } 
   
}